---
layout: default
title: Contact

---
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfFiI8hAAAAAGwZOz43JZR6D5QhShF_ZlUz-7xG"></script>
<script>
grecaptcha.enterprise.ready(function() {
  grecaptcha.enterprise.execute('6LfFiI8hAAAAAGwZOz43JZR6D5QhShF_ZlUz-7xG', { action: 'contact' }).then(function(token) {
   document.getElementById('captchaResponse').value = token;
  });
});
</script>

<div class="flex justify-center">
  {% include svg/socials.html %}
</div>

<form class="space-y-8" action="https://getform.io/f/eba3c660-3bdc-484b-979d-b458a2a38513" method="POST">
  <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
  <div class="space-y-8">
    <div class="pt-8">
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium text-gray-700">
            Name
          </label>
          <div class="mt-1">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email address
          </label>
          <div class="mt-1">
            <input id="email" name="email" type="email" autocomplete="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="about" class="block text-sm font-medium text-gray-700">
            Your Message
          </label>
          <div class="mt-1">
            <textarea id="message" name="message" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Submit
      </button>
    </div>
    <div class="flex justify-end">
      <p class="mt-2 text-sm text-gray-500">
        Powered by
        <a href="https://getform.io" target="_blank">
          {% include svg/getform.svg %}
        </a>
      </p>
    </div>
  </div>
</form>
