<footer>
  <!--
  <img class="w-screen"
    alt="Profile image of Craig"
    src="/assets/images/craig-face.png">
  -->
  <div class="p-4">
    <p class="text-gray-800 text-xs m-4">
      <span class="text-gray-600 hover:text-black mr-12">
        Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}
      </span>
      <a href="/now" class="text-gray-600 hover:text-black mr-4">
        Now
      </a>
      <a href="https://cowriters.app/@craigpetterson"
        target="_blank" class="text-gray-600 hover:text-black mr-4">
        The Co-Writers
      </a>
    </p>
  </div>
</footer>
