<header>
  <div class="bg-black flex p-8">
    <div class="flex w-1/2">
      <div class="">
        <a href="/" class="text-yellow-500 hover:text-white mr-8">
          _craig
        </a>
      </div>
      <div class="">
        <a href="/articles" class="text-yellow-500 hover:text-white mr-2">
          Articles
        </a>
      </div>
    </div>
    <div class="w-1/2 text-right">
      <span class="text-yellow-500 hover:text-white mr-2">
        cspetterson@hey.com
      </span>
    </div>
  </div>
</header>
