<header class="bg-indigo-600">
  <!-- Component: https://tailwindui.com/components/application-ui/navigation/navbars#component-aaed25b299f2015d2c4276b98d463cee -->
  <nav class="shadow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex shrink-0 items-center">
            <a href="/">
              <img class="h-8 w-auto rounded-full"
                alt="Craig's Profile image"
                width="32" height="32"
                src="{{ site.image }}size=32"
              >
            </a>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-white hover:border-gray-300" -->
            <a href="/" class="inline-flex items-center border-b-4 border-transparent px-1 pt-1 text-sm font-medium text-white hover:border-gray-300">
              Home
            </a>
            <a href="/projects" class="inline-flex items-center border-b-4 border-transparent px-1 pt-1 text-sm font-medium text-white hover:border-gray-300">
              Projects
            </a>
            <a href="/articles" class="inline-flex items-center border-b-4 border-transparent px-1 pt-1 text-sm font-medium text-white hover:border-gray-300">
              Articles
            </a>
            <a href="/jottings" class="inline-flex items-center border-b-4 border-transparent px-1 pt-1 text-sm font-medium text-white hover:border-gray-300">
              Jottings
            </a>
          </div>
        </div>

        <!-- Right side -->
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          {% include svg/socials.html %}
          <a href="mailto:{{ site.email }}" class="inline-flex items-center border-b-4 border-transparent px-1 pt-1 text-sm font-medium text-white hover:border-gray-300">
            {{ site.email }}
          </a>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button id="menu-toggle"
            type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-gray-100 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
      <div class="space-y-1 pb-3 pt-2">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-white hover:bg-gray-50 hover:border-gray-300" -->
        <a href="/" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-white hover:border-gray-300 hover:bg-gray-500">
          Home
        </a>
        <a href="/projects" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-white hover:border-gray-300 hover:bg-gray-500">
          Projects
        </a>
        <a href="/articles" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-white hover:border-gray-300 hover:bg-gray-500">
          Articles
        </a>
        <a href="/jottings" class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-white hover:border-gray-300 hover:bg-gray-500">
          Jottings
        </a>
      </div>
    </div>
  </nav>
</header>
