<div class="pt-12">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
        Projects
      </p>
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        A few things I've worked on
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        If you want to work with me — get in touch!
      </p>
    </div>
  </div>
</div>

<div class="relative bg-white pt-16 pb-32 overflow-hidden">

  <!-- Project: Pandle -->
  <div class="">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="p-4 max-w-xl mx-auto sm:col-start-1 lg:col-start-1">
        <span class="h-12 w-auto rounded-md">
          {% include svg/pandle.svg %}
        </span>
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Accountancy Software
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            A cloud-based accountancy software with an extensive feature list
            to help make bookkeeping simple. Originally developed in a
            sophisticated and intuitive manner with small UK businesses in
            mind.
          </p>
          <!--
          <div class="mt-6">
            <a href="/projects/pandle" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
              Review
            </a>
          </div>
          -->
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 sm:col-start-2 lg:col-start-2">
        <div class="p-4 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="rounded-xl shadow-xl ring-1 ring-black ring-opacity-5"
            src="/assets/images/projects/pandle.png"
            alt="Pandle Homepage Screenshot">
        </div>
      </div>
    </div>
  </div>
  <!-- End Project: Pandle -->

  <!-- Project: Doorflow -->
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="p-4 max-w-xl mx-auto sm:col-start-1 lg:col-start-2">
        <span class="h-12 w-auto rounded-md">
          {% include svg/doorflow.svg %}
        </span>
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Access Control Software
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            Cloud-based access control system for secure areas. Used by
            co-working spaces, offices, schools, universities, sports
            clubs and more. Handles entirely remotely, no software
            installation or maintenance is required.
          </p>
          <!--
          <div class="mt-6">
            <a href="/projects/doorflow" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
              Review
            </a>
          </div>
          -->
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 sm:col-start-2 lg:col-start-1">
        <div class="p-4 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="rounded-xl shadow-xl ring-1 ring-black ring-opacity-5"
            src="/assets/images/projects/doorflow.png"
            alt="Doorflow Homepage Screenshot">
        </div>
      </div>
    </div>
  </div>
  <!-- End Project: Doorflow -->

  <!-- Project: Zapnito -->
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="p-4 max-w-xl mx-auto sm:col-start-1 lg:col-start-1">
        <span class="h-12 w-auto rounded-md">
          {% include svg/zapnito.svg %}
        </span>
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Community Platform
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            A intelligent platform to enhance community management that allows
            members to learn, share and collaborate. This platform provides
            all the tools required to engage, retain and grow your
            communities so your users stay longer, spend more and encourage
            others to do the same.
          </p>
          <!--
          <div class="mt-6">
            <a href="/projects/zapnito" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
              Review
            </a>
          </div>
          -->
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 sm:col-start-2 lg:col-start-2">
        <div class="p-4 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="rounded-xl shadow-xl ring-1 ring-black ring-opacity-5"
            src="/assets/images/projects/zapnito.png"
            alt="Zapnito Homepage Screenshot">
        </div>
      </div>
    </div>
  </div>
  <!-- End Project: Zapnito -->

  <!-- Project: DVLA Search -->
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="p-4 max-w-xl mx-auto sm:col-start-1 lg:col-start-2">
        <span class="h-12 w-auto rounded-md">
          DVLA Search
        </span>
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            Vehicle Search API Account Management
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            I led a small team to produce an account management system for
            software that helps access detailed vehicle information. This
            system is used to manage payments for the service as well as user
            permissions, invoicing and historical information.
          </p>
          <!--
          <div class="mt-6">
            <a href="/projects/dvla-search" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
              Review
            </a>
          </div>
          -->
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 sm:col-start-2 lg:col-start-1">
        <div class="p-4 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="rounded-xl shadow-xl ring-1 ring-black ring-opacity-5"
            src="/assets/images/projects/dvla-search.png"
            alt="DVLA Search Homepage Screenshot">
        </div>
      </div>
    </div>
  </div>
  <!-- End Project: DVLA Search -->

</div>
