{% include head.html %}
<body class="bg-gray-100">
  {% include header.html %}
  <div class="min-h-screen md:flex">
    <div class="flex-1">
      <div class="pt-8">
        <div class="mx-auto max-w-2xl w-full leading-loose py-4">
          <div class="flex flex-wrap">
            <h1 class="mt-0">
              {{ page.title }}
            </h1>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-2xl w-full leading-loose">
        <div class="prose lg:prose-xl markdown pb-8">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
