<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% seo %}

  {% if page and page.image_url %}
    <meta name="twitter:image" content="{{ page.image_url }}" />
    <meta property="og:image" content="{{ page.image_url }}" />
  {% else %}
    <meta name="twitter:image" content="{{ site.image }}" />
    <meta property="og:image" content="{{ site.image }}" />
  {% endif %}

  <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body class="bg-gray-100">
  <div class="min-h-screen md:flex">
    <div class="flex-none w-full md:max-w-xs bg-calajo-300">
      {% include header.html %}
      {% include footer.html %}
    </div>
    <div class="flex-1">
      <div class="p-8 bg-gray-200">
        <div class="mx-auto max-w-2xl w-full leading-loose py-4">
          <div class="flex flex-wrap">
            <h1 class="mt-0">
              {{ page.title }}
            </h1>
          </div>
        </div>
      </div>
      <div class="p-8">
        <div class="mx-auto max-w-2xl w-full leading-loose">
          <div class="markdown">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
