<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% seo %}

  {% if page and page.image_url %}
    <meta name="twitter:image" content="{{ page.image_url }}" />
    <meta property="og:image" content="{{ page.image_url }}" />
  {% else %}
    <meta name="twitter:image" content="{{ site.image }}" />
    <meta property="og:image" content="{{ site.image }}" />
  {% endif %}

  <link rel="stylesheet" href="/assets/css/site.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125289027-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125289027-1');
  </script>
</head>
<body class="bg-gray-100">
  {% include header.html %}
  <div class="min-h-screen md:flex">
    <div class="flex-1">
      <div class="pt-8">
        <div class="mx-auto max-w-2xl w-full leading-loose py-4">
          <div class="flex flex-wrap">
            <h1 class="mt-0">
              {{ page.title }}
            </h1>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-2xl w-full leading-loose">
        <div class="markdown pb-8">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
